@page "/demo7"
<h3>JSRuntime</h3>

<p><input type="number" @bind="MyValue" /></p>
<p><button class="btn btn-outline-primary" @onclick="ShowValue">Déclenche les fonctions js native</button></p>
<p><button class="btn btn-outline-secondary" @onclick="TestCallFunction">Déclenche du js stocké dans un script</button></p>
